# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Jiahui (Gabriel) Huang
name: Jiahui (Gabriel) Huang
position: Research Engineer
email: jiahuih@adobe.com
description: >-
  I work at [Adobe Research](https://research.adobe.com/) on topics related to video processing and editing. Previously, I've studied at [(UBC)](https://www.cs.ubc.ca/) with [Leonid Sigal](https://www.cs.ubc.ca/~lsigal/),
   and [(SUTD)](https://istd.sutd.edu.sg/) with [Gemma Roig](http://www.cvai.cs.uni-frankfurt.de/team.html).
  If you are interested in doing an internship at Adobe Research for summer 2025, please reach out via email.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://gabriel-huang.github.io/" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: KeunhongP
github_username: Gabriel-Huang
google_scholar: qWU4y1wAAAAJ
# google_analytics: G-MFWSBLRKG0

# Build settings
theme: minima
plugins:
  - jekyll-feed

sass:
  style: compact

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
